@import '~bulma/css/bulma.css';
@import '~bulma-o-steps/bulma-steps.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.catItem {
    margin-left: 0;
    margin-right: 5px;
}

.catLink {
    cursor: pointer;
}

.clearBoth {
    clear: both;
}

.mb30 {
    margin-bottom: 30px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mt30 {
    margin-top: 30px;
}

.mr10 {
    margin-right: 10px;
}

.is-parent .tile:hover {
    background-color: azure;
}

.align-items-normal {
    align-items: normal !important;
}

.is-30x30 {
    width: 30px;
    height: 30px;
}

.loading {
    padding-top: 25px;
}

.float-left {
    float: left;
}

.footer {
    padding-bottom: 3rem;
}