@import '~bulma/css/bulma.css';
@import '~bulma-o-steps/bulma-steps.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import url('https://fonts.googleapis.com/css?family=Sniglet:400,800');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.catItem {
    margin-left: 0;
    margin-right: 5px;
}

.catLink {
    cursor: pointer;
}

.clearBoth {
    clear: both;
}

.mb70 {
    margin-bottom: 70px;
}
.mb30 {
    margin-bottom: 30px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mt30 {
    margin-top: 30px;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.ml2 {
    margin-left: 2rem;
}

.p5 {
    padding: 5px;
}

.pbt5 {
    padding-bottom: 5px;
    padding-top: 5px;
}

.pbt05 {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.plr075 {
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.plr1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.is-parent .tile:hover {
    background-color: azure;
}

.align-items-normal {
    align-items: normal !important;
}

.is-30x30 {
    width: 30px;
    height: 30px;
}

.loading {
    padding-top: 25px;
}

.float-left {
    float: left;
}

.footer {
    padding: 2rem 1.5rem;
    margin-top: 3rem;
}

.hero-header-component {
    background: radial-gradient(ellipse at center, #70bdf4 0%, #63b6f2 42%, #209cee 100%);
}

.is-cursive {
    font-family: 'Sniglet', cursive;
}

.is-extra-bold {
    font-weight: 800;
}

.is-regular {
    font-weight: 400;
}

@media (min-width: 991px) and (max-height: 620px) {
    .landing-page-image {
        width: 200px !important;
        margin-bottom: 50px;
    }
}
@media (min-width: 991px) and (max-height: 750px) {
    .landing-page-image {
        width: 300px !important;
        margin-bottom: 50px;
    }
}

@media (min-width: 991px) and (max-height: 800px) {
    .landing-page-image {
        width: 400px !important;
        margin-bottom: 50px;
    }
}

@media (min-width: 544px) and (max-height: 680px) {
.landing-page-image {
        width: 220px !important;
        margin-bottom: 50px;
    }
}

@media (min-width: 544px) and (max-height: 800px) {
    .landing-page-image {
        width: 350px !important;
        margin-bottom: 50px;
    }
}

@media (min-height: 801px) and (max-height: 1000px) {
    .landing-page-image {
        max-height: 550px;
    }
}

@media (min-height: 1001px) {
    .landing-page-image {
        max-height: 750px;
    }
}

@media (max-height: 750px) {
    .landing-page-image {
        width: 350px !important;
    }
}

.landing-page-image {
    margin-left: auto;
    margin-right: auto;
}

.is-transparent {
    background-color: transparent;
}

.has-shadow-bottom {
    box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
}

.short-background-color-transition {
    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.navbar-brand {
    display: block;
    padding: 0.7rem 0.75rem;
}

.button.is-big {
    padding: 1.5rem 1.7rem;
}

.button.is-big > .icon {
    font-size: 1.5rem;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 1rem;
}

.is-1 {
    font-size: 3.5rem;
}

.is-2 {
    font-size: 1.4rem;
}

.image-box {
    border: none;
    padding: 4rem;
    text-align: center;
    margin: auto;
}

.border-shadow {
    box-shadow: 0 8px 33px 0 rgba(0,0,0,.07);
    border-radius: 8px;
    background: #fff;
}

.feature-box {
    margin: 4rem;
    align-self: center;
    color: #A9ABAC;
}

.has-background-color-darker {
    background-color: #EFF4F7;
}

.exercise-box {
    border-radius: 8px;
    box-shadow: 0 8px 33px 0 rgba(0,0,0,.07);
}

.exercise-box > .exercise-header > .subtitle {
    font-size: 1.5rem;
    padding: .75rem 1.5rem .6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exercise-box > .exercise-header {
    padding: 0;
}

.exercise-box > .exercise-body > .has-background-grey-lighter {
    font-size: 1rem;
    padding: .6rem 1rem .5rem;
}

.ace_editor {
    border-radius: 0 0 8px 8px;
}

.content {
    padding: 0 5rem;
}

.button.is-big {
    padding: 1.5rem 1.7rem;
}

.button.is-big > .icon {
    font-size: 1.5rem;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 1rem;
}

.is-1 {
    font-size: 3.5rem;
}

.is-2 {
    font-size: 1.4rem;
}

.image-box {
    border: none;
    padding: 4rem;
    text-align: center;
    margin: auto;
}

.border-shadow {
    box-shadow: 0 8px 33px 0 rgba(0,0,0,.07);
    border-radius: 8px;
    background: #fff;
}

.feature-box {
    margin: 4rem;
    align-self: center;
    color: #A9ABAC;
}

.has-background-color-darker {
    background-color: #EFF4F7;
}

.exercise-box {
    border-radius: 8px;
    box-shadow: 0 8px 33px 0 rgba(0,0,0,.07);
}

.exercise-box > .exercise-header > .subtitle {
    font-size: 1.5rem;
    padding: .75rem 1.5rem .6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exercise-box > .exercise-header {
    padding: 0;
}

.exercise-box > .exercise-body > .has-background-grey-lighter {
    font-size: 1rem;
    padding: .6rem 1rem .5rem;
}

.ace_editor {
    border-radius: 0 0 8px 8px;
}

.content {
    padding: 0 5rem;
}

.is-uppercase {
    text-transform: uppercase;
}

.ace-dracula {
    border-radius: 8px;
}

.menu .menu-list {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}

.steps.my-step-style {
    list-style: none;
    margin-left: 0;
}

.has-flex-grow {
    flex-grow: 1;
}

.sidebar-header > :first-child {
    border-top-left-radius: 8px;
    margin-right: 2px;
    height: auto;
}

.sidebar-header > :last-child {
    border-top-right-radius: 8px;
    margin-left: 2px;
    height: auto;
}

.is-stretch {
    align-items: stretch;
}

.menu-list a.is-active {
    background-color: #209cee;
}

.category-sidebar .menu-list a.is-active {
    background-color: #70bdf4;
}